<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Usage</title>
    <style> * { font-family: 'Electrolize', sans-serif; } </style>
</head>
<body>
    <h1>API USAGE</h1>
    <p>Send post request with N= and E=. N is North coordinates and E= East coordinates. Will return a JSON string with all charging station and metadata.</p>
</body>
</html>